*{
    margin:0px
}
div {
    display: block;
}
body{
    min-width: 600px;
    background-image: url("fon009.png");
}
.logo, .footer {
    border: 1px solid blue;
    background-color: blue;
    margin: 3px
}
.left {
    width: 20%;
    float: left;
    margin-left: 10px;
}
.right {
    width: 20%;
    float: right;
    margin-right: 10px;
}
.center{
    margin: 0 25% 0 25%;
}
.caption {
    background-color: blue;
    text-align: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px; 
}
.center,.left, .right{
    height: 100px;
    background-color: gray;
    border:1px solid blue;
    border-radius: 10px;
    text-align: justify;
    line-height: 150%;
}